body {
  font-family: "Tenor Sans", sans-serif;
}

.header {
  padding: 20px 10px 10px 10px;
  margin-bottom: 20px;
}
.header .logo-wrapper {
  width: -moz-fit-content;
  width: fit-content;
}

.product-img-wrapper {
  margin-bottom: 25px;
}
.product-variation {
  text-align: left;
}
.product-variation h1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 8px;
}
.product-variation h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #555555;
  margin-bottom: 8px;
}
.product-variation h5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #dd8560;
  margin-bottom: 25px;
}

.options {
  display: flex;
  align-items: center;
}
.options .label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #555555;
  display: inline-block;
  margin-right: 8px;
}
.options-wrapper {
  display: flex;
  align-items: center;
}
.options .colors {
  gap: 12px;
}
.options .colors .selected-color {
  padding: 4px;
  border-radius: 50%;
  border: 1px solid rgba(136, 136, 136, 0.5254901961);
}
.options .colors .color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.options .colors .color-black {
  background-color: #000000;
}
.options .colors .color-beige {
  background-color: #dd8560;
}
.options .colors .color-white {
  background-color: #e1e0db;
}
.options .sizes {
  gap: 6px;
}
.options .sizes .size {
  padding: 5px 0;
  width: 24px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #dedede;
  font-size: 10px;
  line-height: 12px;
  color: #555555;
}
.options .sizes .selected-size {
  background-color: #333333;
  color: #fff;
  border: 1px solid #333333;
}

.product-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 17px 0;
  background-color: #000000;
  color: #fff;
}
.product-footer span {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #fcfcfc;
}
.product-footer .quantity-counter .icon-cont {
  width: 34px;
  padding: 6px 0;
  border-radius: 50%;
  border: 1px solid #fff;
  text-align: center;
}

.cart {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #fff;
  -index: 1000;
  padding: 10px 0 40px 0;
  display: none;
}
.cart-close {
  margin-bottom: 25px;
}
.cart-title {
  font-family: Tenor Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #333333;
}
.cart-product-brand {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 8px;
}
.cart-product-title {
  font-size: 12px;
  line-height: 18px;
  color: #555555;
  margin-bottom: 13px;
}
.cart-product-price {
  font-size: 15px;
  line-height: 24px;
  color: #dd8560;
}
.cart-quantity .cart-icon-wrapper {
  width: 24px;
  padding: 1px 0;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  text-align: center;
}
.cart-empty {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #888888;
  margin-top: 230px;
}
.cart-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}
.cart-footer-button {
  background-color: #000000;
  color: #fff;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
.cart-footer-button-text {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #fcfcfc;
}
.cart-footer-subtotal {
  padding: 15px 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2196078431);
}
.cart-footer-subtotal-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-footer-subtotal-wrapper-label {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #333333;
}
.cart-footer-subtotal-wrapper-value {
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #dd8560;
}
.cart-footer-subtotal-caption {
  font-size: 14px;
  line-height: 24px;
  color: #888888;
  margin-top: 15px;
  margin-bottom: 13px;
}

.side-nav {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #fff;
  z-index: 1000;
  padding: 10px 0 40px 0;
  display: none;
}
.side-nav-close {
  margin-bottom: 20px;
}
.side-nav .nav-tabs {
  padding-bottom: 10px;
  border-bottom: 0;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.side-nav .nav-tabs .nav-item {
  flex-grow: 1;
}
.side-nav .nav-tabs .nav-item .nav-link {
  border-bottom: 0.5px solid rgba(136, 136, 136, 0.2941176471);
  font-size: 14px;
  line-height: 34px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #333333;
  opacity: 0.6;
  width: 100%;
}
.side-nav .nav-tabs .nav-item .active {
  border-color: #fff #fff #dd8560 #fff;
  color: #333333;
  opacity: 1;
}
.side-nav .tab-content {
  padding: 0 30px;
}
.side-nav .tab-content .tab-pane .nav-one {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.side-nav .tab-content .tab-pane .nav-one li {
  margin-bottom: 10px;
}
.side-nav .tab-content .tab-pane .nav-one li .nav-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.side-nav .tab-content .tab-pane .nav-one li .nav-title-wrapper span {
  font-size: 16px;
  line-height: 48px;
  color: #333333;
}
.side-nav .tab-content .tab-pane .nav-one li .nav-two {
  list-style: none;
  -webkit-padding-start: 16px;
          padding-inline-start: 16px;
  display: none;
}
.side-nav .tab-content .tab-pane .nav-one li .nav-two li {
  font-weight: 400;
  font-size: 16px;
  line-height: 46px;
  color: #333333;
}
.side-nav .tab-content .tab-pane .tab-info {
  margin-top: 40px;
  margin-bottom: 60px;
}
.side-nav .tab-content .tab-pane .tab-info h6 {
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0.08em;
  color: #555555;
  margin-left: -10px;
  margin-bottom: 0;
}/*# sourceMappingURL=styles.css.map */